<mat-card appearance="outlined" style="background-color: darkgrey;">
    <form [formGroup]="profileForm" (ngSubmit)="createTarefa()">
    <mat-card-content>Tarefa</mat-card-content>
    <mat-card style="width: 110px;">
        <button type="button" (click)="retonarTarefas()" style="width: 100px;">Consultar</button>
    </mat-card>
    <mat-form-field appearance="outline" style="width: 500px;">
        <mat-label>Descrição</mat-label>
        <input formControlName="descricao" type="text" style="background-color: white; color: black; width: 450px;"  matInput>
    </mat-form-field>
    <mat-card style="width: 110px;">
        <button type="submit" style="width: 100px;">Cadastrar</button>
    </mat-card>
    </form>
    <hr />
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef>Descrição</th>
          <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
        </ng-container>
        <ng-container matColumnDef="dataTarefa">
          <th mat-header-cell *matHeaderCellDef>Data</th>
          <td mat-cell *matCellDef="let element"> {{element.dataTarefa}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
</mat-card>
